{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


      <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Search Page</h1>

    <div class="form">
        <form action="/" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>

    

</div>

  <div class="table-users">
   <div class="header">Reviews</div>

   <table cellspacing="0">
      <tr>
         <th>Product</th>
         <th>Name</th>
         <th>Rating</th>
         <th>Comment Heading</th>
         <th width="230">Comments</th>
      </tr>
         {% for review in reviews %}
      <tr>
          <td>{{review['Product']}}</td>
         <td>{{review['Name']}}</td>
         <td>{{review['Rating']}}</td>
         <td>{{review['CommentHead']}}</td>
         <td>{{review['Comment']}} </td>
       {% endfor %}
   </table>
</div>



{% endblock %}